/*removing prev and next links*/
md-footer__inner { display: none !important; }
.nav-link[rel="next"] {display: none;}
.nav-link[rel="prev"] {display: none;}

@media only screen and (max-width: 780px) {
    h1{
        font-size:1.5em !important;
    }

    h2{
        font-size:1em !important;
    }

    h3{
        font-size:0.9em !important;
    }

    hr{
        margin: 1em 0em !important;
    }

    li{
        padding:0em !important;
    }

    .duedate>p{
        font-size:medium !important;
    }

    ul>li.nav-item, ul.dropdown-menu>li{
        margin: 0 !important;
        padding:0em !important;
    }

    a.nav-link{
        font-size:1.25em !important;
        line-height:1.75em !important;
        padding:0;
        margin-top:1rem;
        margin-bottom:1rem;
    }

    figcaption{
        font-size:x-small !important;
    }
}

mark{
    background-color:darkorange;
}

figcaption{
    font-weight:normal;
    font-style:italic;
    text-align:left;
    /*font-size:0.65em;*/
    margin-top:1rem;
    margin-bottom:1.5rem;
    line-height:175%;
    color:teal;
}

p,li{
    font-size:0.875em;
    line-height:1.75em;
}

.duedate{
    border: darkorange solid 2px;
    padding:0 1em;
    margin-bottom:2em;
}

.duedate>p{
    font-size:x-large;
    padding:0;
    line-height: 175%;
}

.duedate>p>a{
    font-weight:bold;
    font-style:italic;
}

ul>li{
    list-style-type:square;
}

ol>li{
    margin-left: 0.75em !important;
    padding: 0 !important; 
}

ul>li.nav-item, ul.dropdown-menu>li{
    list-style-type: none;
    margin-top:0;
    margin-bottom:0;
}
ul.dropdown-menu>li{
    padding:0;
}

li::marker {
    color:teal;
}

a.dropdown-item{
    font-size:1.25em !important;
    line-height:1.75em !important;
    margin:0 !important;
}

a{
    color: teal !important;
    font-size:100% !important;
}

a:hover{
    color:darkorange !important;
}

mark>a{
    color:black !important;
}

mark>a:hover{
    color:white !important;
}

hr{
    margin: 2em 0em;
}

h1{
    font-size:2.75em;
    line-height:1.25em;
}

h2{
    background-color:darkorange;
    color: black; 
    padding:0.3em 0.5em 0.275em;
    margin-bottom:2rem;
    line-height:1.25em;
}

h3{
    color: darkorange;
    padding-top:0.3em;
    padding-bottom: 0.275em;
    margin-bottom:2rem;
    font-weight:bold;
    line-height:1.5em;
}

h4{
    color: darkorange;
    padding-top:0.1em;
    line-height:1.5em;
}

li{
    padding:0 0 0 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

blockquote{
    padding-right:10px;
    border-color:darkorange;
}

blockquote>p, blockquote>ol>li, blockquote>ul>li{
    color:teal;
}

blockquote>blockquote{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

td{
    vertical-align: top;
}

pre{
    font-size:1em;
}